h1 {
  margin-top: 7px;
  text-align: center;
  font-size: 150px;
  font-weight: 900;
  margin-bottom: -20px;
}

.units {
  position: relative;
  bottom: 130px;
  left: 77%;
  font-size: 20px;
  margin-bottom: 5px;
}
.C,
.F {
  transition: all 200ms ease-in-out;
}

.C:hover,
.F:hover {
  cursor: pointer;
  color: red;
  font-weight: 700;
}
