#search_bar {
  border: transparent;
  margin-bottom: 0em;
  margin-right: 40px;
  margin-top: 0;
}
#search_icon {
  background-color: transparent;
  font-size: 25px;
  margin-bottom: 0em;
  margin-left: 50px;
  margin-top: 0;
  border: none;
}
