.units {
  font-size: 15px;
  text-align: right;
  margin-bottom: 0em;
  margin-top: -2em;
}
.C,
.F {
  transition: all 200ms ease-in-out;
}

.C:hover,
.F:hover {
  cursor: pointer;
  color: red;
  font-weight: 700;
}
