#city {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
}
#date {
  margin-top: 3px;
  font-size: 20px;
}

#description {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

#description::first-letter {
  text-transform: capitalize;
}

#max_min {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 0px;
  font-size: 15px;
}
#humidity {
  text-align: right;
}
