.weather_app_wrapper {
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
}

.weather_app {
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#search_bar {
  border: transparent;
  margin-bottom: 0em;
  margin-right: 40px;
  margin-top: 0;
}
#search_icon {
  background-color: transparent;
  font-size: 25px;
  margin-bottom: 0em;
  margin-left: 50px;
  margin-top: 0;
  border: none;
}

hr {
  background: #000000;
  height: 3px;
  border-width: 0px;
  max-width: 600px;
  margin: 5px auto;
}

small {
  display: block;
  text-align: center;
}
